/*
 * custom styling on top of hello-friend's defaults
*/

.post {
    padding-top: 0px;
    padding-bottom: 0px;
}

.post-title {
    font-size: 1.75rem;
}
.archive__group-month {
    padding-top: 0px;
    padding-bottom: 0px;
}

.archive__group-year {
    margin-top: 0px;
}


.logo__cursor {
    /* custom blue instead of red cursor */
    background: #2f9ddf;
}


@keyframes cursor {
    /* hacky way to remove blinking */
    100% { opacity: 1; }
}
